{
  "api_key": "",
  "client_name": "",
  "client_version": "",
  "hl": "",
  "gl": "",
  "headers": {
    "cookie": "",
    "x-goog-authuser": "0",
    "origin": "",
    "referer": "",
    "user-agent": "",
    "x-youtube-client-name": "",
    "x-youtube-client-version": ""
  }
}